footer.section.footer
  .footer-all
    .footer-all__copyright © 2022 ОАО «БЗАЛ»
    .footer-all__company
      h2 Разработка сайта
      img(src="img/company.png", alt="")
    .footer-all__logo
      a(href="#")
        img(src="img/logo-1.png", alt="")
      span ОАО «Барановичский завод автоматических линий»
    .footer-wrapper
      .footer-all__contact
        .contact-item
          img(src="img/svg/geo.svg", alt="")
          p ул. Королика, 8, г.Барановичи, 225416. Брестская обл., Республика Беларусь
        .contact-item
          img(src="img/svg/tel.svg", alt="")
          a(href="tel:+375(163) 67-20-48 ") +375(163) 67-20-48
        .contact-item
          img(src="img/svg/email.svg", alt="")
          a(href="mailto:bzal_market@mail.ru") bzal_market@mail.ru
      .footer-all__nav
        .nav-item
          a(href="#")
            p Политика обработки персональных данных
            img(src="img/svg/link.svg", alt="")
        .nav-item
          a(href="#")
            p Как добраться
            img(src="img/svg/link.svg", alt="")
        .nav-item
          a(href="#") Карта сайта
      .footer-all__partners
        .arrow-prev-three
          img(src="img/svg/green-arrow.svg", alt="")
        .partners-list
          .swiper-wrapper
            .swiper-slide
              img(src="img/footer-1.png", alt="")
            .swiper-slide
              img(src="img/footer-2.png", alt="")
            .swiper-slide
              img(src="img/footer-3.png", alt="")
            .swiper-slide
              img(src="img/footer-4.png", alt="")
            .swiper-slide
              img(src="img/footer-5.png", alt="")
        .arrow-next-three
          img(src="img/svg/green-arrow.svg", alt="")