header.header-two
  .header-all
    .header-all__logo
      a(href="#")
        img(src="img/logo-2.png", alt="")
      span ОАО «Барановичский завод автоматических линий»
    nav.header-all__nav
      ul
       li
        a(href="#") о предприятии
       li
        a(href="#") продукция и услуги
       li
        a(href="#") новости
       li
        a(href="#") контакты и реквизиты
    .header-all__other
      .other-search
        img(src="img/svg/search-2.svg", alt="")
      .other-watch
        img(src="img/svg/eye-2.svg", alt="")
      .other-lang RU
      .other-bar
        .other-bar__item.bar-one
        .other-bar__item.bar-two